*{
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
}
h1{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    color: white;
    font-style: italic;
}
h1 a {
    font-style:normal;
    text-decoration: none;
    color: rgb(1, 225, 255);
}                                                                                                                                                                                                                                                                                                                                                                   
h1 a:hover {
    color: rgb(255, 0, 0);
}

.navbar{
    border-top:none;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
}
.navbar li{
    float: left;
    list-style: none;
    margin: 35px;
    margin-left: 35px;
    height: 20px;
    width: 150px;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 6px;
    text-align: center;
}
.navbar li a{
    padding:auto;
    color: white;
    text-decoration: none;
}
.navbar li a:hover{
    color: rgb(255, 0, 0);
}
.home li a {
    color: blueviolet;
}

.infocontainer {
    width: 80vw;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
}

.hello {
    font-size: 60px;
}

.name {
    font-size: 50px;
    font-weight: bold;

}

.about {
    font-size: 40px;
}

.moreabout {
    margin-top: 22px;
    font-family: 'Signika Negative', sans-serif;
    font-size: 18px;
    
}

.moreabout a {
    color: rgb(128, 125, 125);
    text-decoration: none;
    font-size: 20px;
}

.moreabout a:hover {
    color: red;
    font-weight: bold;
}

.button {
    margin-top: 10px;

}

.button button {
    padding: 9px 14px;
    border-radius: 20px;
    color: rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    margin: 0 10px;
    cursor: pointer;
    font-family: 'Signika Negative', sans-serif;
}
.button button:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 0);
}
.devinfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Serif Pro', serif;
}

.devpic img {
    height: 58vh;
}
.form-group{
    font-size: 22px;

}
.contactform{
    font-family: 'Signika Negative', sans-serif;
    padding: 0 34px;
    padding-top: 70px;
}
.contactform h1{
    font-family: 'Source Serif Pro', serif;
    text-align: center;
}
.contactform div{
    padding: 10px;
}
#emailHelp{
    color: gray;
    margin: 0 5px;
}
#emailHelp:hover{
    color: rgb(209, 135, 135);
    
}
.contactform form div input{
    width: 16vw;
    border-radius: 5px;
    margin: 6px;
    padding: 3px;
}
